{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->

    <!-- Page Header -->
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Hello {{user.username}}</h1>
        </div>
      </div>
    </header>


    <!-- Post Content -->
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'img/addclothes.jpg'%}" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <center><a class = "btn btn-outline-primary" href="{% url 'newitem' %}"><h2 class="linkBtns">Add Clothes</h2></a></center>
              <p>Add all your current clothing items, and we'll use them to create amazing outfits!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  {% if not styleChosen %}
  <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'img/choosestyle.jpg'%}" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <center><a class = "btn btn-outline-primary" id = "choiceBtn" href="#"><h2 class="linkBtns">Choose a style preference.</h2></a></center>
              <p>What do you want to look like? We'll use your clothing items to generate outfits similar to your style preferences.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    <!-- Main Content -->
  
    {% if styleChosen %}
    <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="{% static 'img/choosestyle.jpg'%}" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <center><a class = "btn btn-outline-primary" id = "choiceBtn" href="#"><h2 class="linkBtns">Change Style</h2></a></center>
                <p>What do you want to look like? We'll use your clothing items to generate outfits similar to your style preferences.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="{% static 'css/generate.jpg'%}" alt="">
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <center><a class = "btn btn-outline-primary" id = "myBtn" href="#"><h2 class="linkBtns">Generate Outfit</h2></a></center>
                <p>We will pick your next oufit, to prevent you from having to think about it, while still looking great!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="{% static 'img/bg-masthead.jpg' %}" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                  <center><a class = "btn btn-outline-primary" href="{% url 'myclothes' %}"><h2 class="linkBtns">View my clothes</h2></a></center>
                <p>Have a look to see if you've added all your clothes.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

<!--Possibly Needed
    <div class="clearfix">
        <a href="{% url 'myclothes' %}"><h2 class="display-4">View my clothes</h2></a>
    </div>

    {% if not styleChosen %}
      <h4> You have not chosen a style preference</h4>
      <h4> Outfits are generated at random if you do not choose one </h4>
      <div class="clearfix">
          <center><a class="btn btn-primary" id = "choiceBtn" href="#">Choose Style Preference</a></center>
      </div>
    {% else %}
    <div class="clearfix">
        <center><a class="btn btn-primary" id = "choiceBtn" href="#">Change Style Preference</a></center>
    </div>
    {% endif %}


    <div class="clearfix">
        <center><a id = "myBtn" href="#"><h2 class="display-4">Generate Outfit</h2></a></center>
    </div>
-->
<!--Modals-->
    <div id = "myModal" class = "modal">
      <div class = "modal-content">
        
        {% if not styleChosen %}
        <center><h4>No Style Preference Selected!</h4></center>
        <a href = "{% url 'dashboard' 0%}"><span class = "close">&times;</span></a>
        <div class="clearfix">
          <center><a class="btn btn-primary" id = "choiceBtn" href="#">Choose Style Preference</a></center>
        </div>
        {% elif insufficient %}
          <center><h4>Could not generate outfit due to lack of clothes!</h4></center>
          <a href = "{% url 'dashboard' 0%}"><span class = "close">&times;</span></a>
          <div class="clearfix">
            <center><a class="btn btn-primary" href="{% url 'newitem' %}">Click here to add Clothes</a></center>
          </div>
        {% else %}
        <span class = "close">&times;</span>
        <center><h2>Your Outfit!</h2></center>
        {% for cloth in myclothes %}
<!--Name--><h3 id="name">{{cloth.name}}</h3><!--EndName-->
<!--Image--><img src = "{{MEDIA_URL}}{{cloth.image}}"><!--EndImage-->
      {% endfor %}
      <div class="clearfix">
        <center><a class="btn btn-primary" id = "newBtn" href="#">Generate another</a></center>
      </div>

      <div class="clearfix">
          <form action="" method="POST">
              {% csrf_token %}
              <center><input class = "btn btn-primary" type="submit" name="Dislike" value="Dislike" /></center>
          </form>
      </div>
        {% endif %}


      </div>
    </div>

    <div id = "myModal1" class = "modal">
      <div class = "modal-content">
        <a href = "{% url 'dashboard' 0%}"><span id = "closeChoice">&times;</span></a>
        <div class="clearfix">
          <form id = "choiceForm" action = "" method = "POST">
            {% csrf_token %}
            <div class="row">
              <div class="column">
                <center><img src="{% static 'img/alexcosta.jpg' %}" alt="" style="width:90%; height: 300px"></center>
                <center><a class="btn btn-primary" id = "Style1" href="{% url 'dashboard' 1%}">Alex Costa Outfits</a></center>
              </div>
              <div class="column">
                <center><img src="{% static 'img/alpham.jpg' %}" alt="Forest" style="width:90%; height: 300px"></center>
                <center><a class="btn btn-primary" id = "Style2" href="{% url 'dashboard' 2%}">Alpha M Outfits</a></center>
              </div>
              <div class="column">
                <center><img src="{% static 'img/TMF.jpg' %}" alt="Mountains" style="width:90%; height: 300px"></center>
                <center><a class="btn btn-primary" id = "Style3" href="{% url 'dashboard' 3%}">Jose Zuniga Outfits</a></center>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div id = "loadingModal" class = "modal">
      <div class = "modal-content">
        <img src = "{% static 'img/loading.jpg' %}">
      </div>
    </div>




    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Outfit Generator</p>
            <h5 id = "num">{{style}}</h5>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Custom scripts for this template -->
    <script>
      // Get the modal
        var currStyle = document.getElementById("num")
        var modal = document.getElementById("myModal");
        var choiceModal = document.getElementById("myModal1")
        var loadingModal = document.getElementById("loadingModal")

        // Get the button that opens the modal
        var styleOne = document.getElementById("Style1")
        var styleTwo = document.getElementById("Style2")
        var styleThree = document.getElementById("Style3")
        var btn = document.getElementById("myBtn");
        var newBtn = document.getElementById("newBtn");
        var choiceBtn = document.getElementById("choiceBtn")

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var closeChoice = document.getElementById("closeChoice")

        currStyle.style.display = "none";

        // When the user clicks the button, open the modal 
        var clicked = false
        styleOne.onclick = function(){
          choiceModal.style.display = "none";
          loadingModal.style.display = "block";
        }
        styleTwo.onclick = function(){
          choiceModal.style.display = "none";
          loadingModal.style.display = "block";
        }
        styleThree.onclick = function(){
          choiceModal.style.display = "none";
          loadingModal.style.display = "block";
        }
        btn.onclick = function() {
          //alert('http://127.0.0.1:8000/dashboard/' + currStyle.innerHTML)
          //alert("hey you clicked me")
          modal.style.display = "block";
        }

        choiceBtn.onclick = function(){
          //alert("hey you clicked me")
          choiceModal.style.display = "block";
        }

        newBtn.onclick = function(){
          modal.style.display = "none";
          loadingModal.style.display = "block";
          var url = 'http://127.0.0.1:8000/dashboard/' + currStyle.innerHTML
          $.ajax({
            method:"GET",
            url: url,
            success:function(data){
              //First Name indices
              loadingModal.style.display = "none";
              modal.style.display = "block";
              // Stored all names in array
              itemNames = []
              //Store all images in Array
              itemImages = []
              //console.log(firstNewImage)
              //console.log(secondNewImage)
                //Change name and images of all items
              lines = data.split('\n')
              for (i=0;i<lines.length;i++){
                if (lines[i].startsWith('<!--Name')){
                  startingIndex = lines[i].indexOf('<h3')+14
                  endingIndex = lines[i].indexOf('</h3>')
                  itemNames.push(lines[i].slice(startingIndex,endingIndex))
                } else if(lines[i].startsWith('<!--Image')){
                  startingImageIndex = lines[i].indexOf('<img')
                  endingImageIndex = lines[i].indexOf('<!--End')
                  itemImages.push(lines[i].slice(startingImageIndex,endingImageIndex))
                }
              
              }
              for (i=0;i<itemNames.length;i++){
                  document.getElementsByTagName('h3')[i].innerHTML = itemNames[i]
                  document.getElementsByTagName('img')[i].outerHTML = itemImages[i]
              }
              console.log(itemImages)
            },
            failure: function(data){
              console.log('fail bro')
            }
          })
          //modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          //alert("hey you clicked me")
          modal.style.display = "none";

        }

        closeChoice.onclick = function(){
          alert("hey")
          choiceModal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
          if (event.target == choiceModal){
            choiceModal.style.display = "none";
          }
        }
    </script>
  </body>

</html>